/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

body {
  font-family: 'Amatic SC', cursive;
  color: #85E2E2;
  text-align: center;
  margin: 0 0;
  padding: 0 0;
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 6rem;
}

a {
  margin: 10px;
  font-size: 3rem;
  color: #85E2E2;
}

a:hover {
  color: hotpink;
}


/* NAVBAR */
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #15B0DB;
  box-shadow: 2px 2px #150811;
}

.nav-link {
  padding-right: 20px;
}


/* SECTIONS */

#sections-div {
  display: flex;
  flex-direction: column;
}

/* WELCOME */
#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #210618;
  height: 100vh;
}

#name {
  font-family: 'Dancing Script', cursive;
  font-size: 8rem;
  margin-bottom: 0;
}

#job-title {
  font-size: 6rem;
  margin-top: 0;
}

/* ABOUT */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #380036;
  height: 100%;
}

#about-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 2em;
}

#about-pic {
  width: 30%;
}

#info-div {
  width: 60%;
}

.about-information {
  font-size: 20pt;
}

#skills {
  margin-top: 4em;
  margin-bottom: 4em;
  font-size: 20pt;
}

/* PROJECTS */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #210618;
  height: 100vh;
}

#projects-title {
  padding-top: 50px;
}

#projects-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 66%;
}

.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33vw;
  height: 400px;
  padding: 20px 20px;
  margin: 10px;
}

#pandemic-img {
  height: 250px;
  width: 25vw;
}

#binge-img {
  height: 250px;
  width: 15vw;
}

#helios-img {
  height: 250px;
  width: 25vw;
}



/* CONTACT */
#contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #380036;
  height: 10vh;
}

#contact-connect {
  font-size: 2rem;
}

#contact-links-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#github-logo {
  height: 40px;
  width: 50px;
}

#linkedin-logo {
  height: 40px;
  width: 40px;
}

#email-logo {
  height: 50px;
  width: 50px;
  margin-top: 12px;
}

img.logo{
  transition: transform 0.2s ease-out;
}

img.logo:hover {
  transform: translateY(-10px)
}